on: [push]

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: A job to say hello
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      # with:
      #   ref: main
    - name: Hello world action step
      id: hello
      uses: ./
    - name:
  newman:
  runs-on: ubuntu-latest
  steps:
    - uses: actions/checkout@master
    - uses: matt-ball/newman-action@master
      with:
        collection: https://www.getpostman.com/collections/3b2724fe658897b87a57
